body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .letters {
    color: white;
    font-size: 200px;
    transition: color 500ms;
  }